{% load static %}

{% load static tailwind_tags %}

<html data-theme="light" style="color-scheme: light;" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    <!-- DataTable CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- FLOWBITE -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>

    <meta name="robots" content="index,follow">
    <meta name="description" content="ACEA">
    <meta property="og:title" content="ACEA">
    <meta property="og:description" content="ACEA">
    <meta property="og:locale" content="en">
    <meta property="og:site_name" content="Inventory System">
    <meta name="next-head-count" content="12">
    
    <title>{% block title %} {% endblock %}</title>
    {% tailwind_css %}
  </head>
  <body class="chakra-ui-light">
    <div id="__next">
        <div class="flex h-full min-h-screen w-full bg-sidebarnav sm:pt-12 sm:pr-12 sm:pb-12">
          
          {% include 'partials/header.html' %} 

          <div class="h-full w-full flex-1 lg:rounded-3xl bg-backg px-1 pb-32 text-black antialiased sm:rounded-none">
            <main class="">
              <div class="container mx-auto h-full flex justify-center gap-5 sm:p-5">
              {% block content %}
      
              {% endblock %}

              </div>
            </main>  
          </div>
          {% include 'partials/nav.html' %} 
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
  </body>
  {% block js %}
  {% endblock js %}
</html>